@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------------Fonts------------------------- */
@font-face {
  font-family: 'Fira Code';
  src: url('./assets/fonts/FiraCode-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* -------------------------Global------------------------- */
* {
  @apply box-border m-0 p-0;
}

body {
  @apply bg-[#2b2b2b];
}
.monospace-text {
  @apply font-mono antialiased;
}

/* -------------------------Layout------------------------- */
.layout-container {
  @apply bg-[#2b2b2b];
}

/* -------------------------Header------------------------- */
.header {
  @apply w-full text-center h-[120px] flex justify-end bg-[#2b2b2b] p-8;
}

/* -------------------------Header Buttons------------------------- */
.header-buttons {
  @apply flex justify-end items-center gap-4;
}

.button-primary {
  @apply w-[180px] h-[40px] text-[16px] shadow-lg rounded-lg;
}

.button-logout {
  @apply w-[70px] h-[40px] text-[16px] text-white bg-[#1677ff] border-none rounded-lg cursor-pointer flex items-center justify-center transition-colors duration-300 shadow-lg;
}

.button-logout:hover {
  @apply bg-[#b22222];
}

/* -------------------------Header Modal------------------------- */
.profit-statistic {
  @apply flex justify-between gap-8 items-start;
}

.card-profit-modal {
  @apply shadow-lg rounded-3xl bg-[#eeeeee] border border-[#eeeeee];
}

.modal .ant-modal-content {
  @apply bg-gradient-to-r from-[#2b2b2b] to-[#4d4d4d] bg-[200\\%] rounded-2xl shadow-lg overflow-hidden;
}

/* -------------------------Sider------------------------- */
.app-sider {
  @apply bg-[#2b2b2b] rounded-md ml-8;
}

/* -------------------------Sider Cards ------------------------- */
.card {
  @apply w-[350px] h-[220px] border border-[#eeeeee] rounded-2xl bg-[#eeeeee] shadow-lg;
}

.ant-carousel .slick-dots li button {
  @apply bg-black;
}
.ant-carousel .slick-dots li.slick-active button {
  @apply bg-[#999999];
}

/* -------------------------Content------------------------- */
.app-content {
  @apply text-center leading-6 mx-8 bg-[#dddddd] rounded-3xl shadow-lg;
}

/* -------------------------Content Button------------------------- */
.buttonOpenTable {
  @apply w-full h-[40px] text-[30px] mb-[60px] rounded-xl shadow-lg bg-[#4e4e4e] text-[#d0d0d0] transition-transform duration-300;
}

.buttonOpenTable:hover {
  @apply bg-[#777777] scale-[1.01];
}

/* -------------------------Content Table------------------------- */
.table-container {
  @apply overflow-auto w-full rounded-3xl border border-[#2b2b2b] mb-20;

  scrollbar-width: thin;
  scrollbar-color: #888 transparent;

  position: relative;
  padding-bottom: 10px;
}

.table {
  @apply rounded-3xl overflow-hidden shadow-lg;
}

.table-bold {
  @apply font-bold;
}

.table-italic {
  @apply italic;
}

.table-profit-positive {
  @apply text-green-500;
}

.table-profit-negative {
  @apply text-red-500;
}

/* -------------------------Footer------------------------- */
.app-footer {
  @apply rounded-2xl bg-[#2b2b2b] mt-24 mx-8;
}
