@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------------Fonts------------------------- */

@font-face {
  font-family: 'Nunito Sans';
  src: url('/assets/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('/assets/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf')
    format('truetype');
  font-weight: 700;
  font-style: bold;
}

/* -------------------------Global------------------------- */
* {
  @apply box-border m-0 p-0 font-nunito antialiased;
}

body {
  @apply bg-gray-50;
}

/* -------------------------Layout------------------------- */
.layout-container {
  @apply bg-[#9FB3A2];
}

/* -------------------------Header------------------------- */
.header {
  @apply flex w-full items-center h-24 justify-between bg-[#9FB3A2] px-20;
}

/* -------------------------Header Buttons------------------------- */

.button-container {
  @apply flex items-center text-gray-900 gap-2;
}

.button-flip {
  @apply bg-transparent block relative overflow-hidden min-w-32 min-h-6 border-none cursor-pointer transition-colors duration-300;
}

.button-flip:after,
.button-flip:before {
  content: attr(data-hover-text);
  @apply absolute inset-0 flex items-center justify-end transition-transform duration-700 ease-in-out;
}

.button-flip:before {
  @apply translate-y-0;
}

.button-flip:after {
  @apply translate-y-full;
}

.button-flip:hover:before {
  @apply -translate-y-full;
}

.button-flip:hover:after {
  @apply translate-y-0 text-purple-700;
}

/* -------------------------Header Modal------------------------- */
.profit-statistic {
  @apply flex justify-between gap-8 items-center;
}

.modal-card {
  @apply rounded-none bg-gray-50 w-[330px] h-52 pb-4;
}

.modal .ant-modal-content {
  @apply bg-[#2C372E] rounded-none overflow-hidden mb-32 pb-40;
}

.modal-container {
  @apply flex flex-wrap justify-center gap-6;
}

/* -------------------------Content------------------------- */
.app-content {
  @apply flex flex-col bg-[#9FB3A2] h-screen;
}

.app-top-content {
  @apply flex items-end min-h-52 pb-1;
}

.marque-container {
  @apply overflow-hidden whitespace-nowrap w-40 relative;
}

.marque-text {
  @apply text-gray-800 text-3xl animate-marquee flex gap-48 font-normal;
}

.app-mid-content {
  @apply flex flex-col min-h-[1200px] px-20 py-4 bg-[#2C372E];
}

.card-container {
  @apply w-[330px] h-48 px-1 border border-gray-50 bg-gray-50 rounded-none ml-6;
}

.interaktive-button {
  @apply relative w-12 h-12 rounded-full flex items-center justify-center overflow-hidden;
}

.app-end-content {
  @apply flex flex-col bg-white px-20;
}

/* -------------------------Content Table------------------------- */
.scrollbar-thin::-webkit-scrollbar {
  width: 0px;
  height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* Цвет ползунка */
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #f3f4f6; /* Фон ползунка */
}

.scrollbar-thin:hover::-webkit-scrollbar-thumb {
  background-color: #6b7280; /* Тёмный цвет при наведении */
}

.table-container {
  @apply w-full h-[500px] overflow-auto scrollbar-thin;
}

.table-header {
  @apply sticky top-0 z-10 px-4 py-3 bg-gray-50 text-left cursor-pointer whitespace-nowrap;
}

.table-content {
  @apply px-4 py-3;
}

.table-profit-positive {
  @apply text-purple-700;
}

.table-profit-negative {
  @apply text-gray-900;
}

.ant-select-selector {
  border-color: #d1d5db !important;
  transition: border-color 0.3s ease;
  font-size: 20px !important;
  border-radius: 0px !important;
}

.ant-select-selection-placeholder {
  font-size: 20px !important;
}

.ant-select-focused .ant-select-selector,
.ant-select-selector:focus-within {
  border-color: #9fb3a2 !important;
  box-shadow: none !important;
}

.ant-select-selector:hover {
  border-color: #9fb3a2 !important;
  box-shadow: none !important;
}

.ant-select-status-error .ant-select-selector {
  border-color: #7e22ce !important;
  box-shadow: none !important;
}

.ant-input-number,
.ant-picker {
  border-radius: 0px;
  font-size: 20px;
  border-color: #d1d5db !important;
  transition: border-color 0.3s ease;
}

.ant-input-number:hover,
.ant-picker:hover {
  border-color: #9fb3a2 !important;
  box-shadow: none !important;
}

.ant-input-number:focus,
.ant-picker-focused {
  border-color: #9fb3a2 !important;
  box-shadow: none !important;
}

.ant-input-number-status-error,
.ant-picker-status-error {
  border-color: #7e22ce !important;
  box-shadow: none !important;
}

.ant-picker-input input::placeholder {
  font-size: 20px !important;
  color: #9ca3af;
}

.ant-picker-input input {
  font-size: 20px !important;
}
