@font-face {
  font-family: 'Fira Code';
  src: url('./assets/fonts/FiraCode-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.monospace-text {
  font-family: 'Fira Code', monospace;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0f0f0f;
}

.header {
  width: 100%;
  text-align: center;
  height: 120px;
  display: flex;
  background: #0f0f0f;
  justify-content: end;
  gap: 1rem;
}

.header-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.button-primary {
  width: 180px;
  height: 40px;
  font-size: 16px;
}

.button-logout {
  width: 70px;
  height: 40px;
  font-size: 16px;
  color: white;
  background: #1677ff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.button-logout:hover {
  background: #b22222;
}

.layout-container {
  background: red;
}

.app-content {
  text-align: center;
  line-height: 1.5;
  margin: 2rem 3rem;
  background: #f0f0f0;
  border-radius: 8px;
}

.table-bold {
  font-weight: bold;
}

.table-profit-positive {
  color: green;
}

.table-profit-negative {
  color: red;
}

.app-sider {
  text-align: center;
  line-height: 1.5;
  margin-left: 2rem;
  margin-top: 2rem;
  background-color: #fafafa;
  border-radius: 8px;
}

@keyframes blackWhiteGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.black-white-text {
  font-weight: bold;
  background: linear-gradient(90deg, #008080, #e9967a, #2e8b57);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: blackWhiteGradient 10s ease infinite;
}

.card {
  width: 360px;
  height: 220px;
  border: 2px solid gray;
}

.table {
  margin: 2rem 2rem 4rem;
}

.app-footer {
  height: 600px; /* Убираем фиксированную высоту */
  overflow: hidden;
}

.ant-carousel .slick-dots li button {
  background: #b0c4de; /* Цвет неактивных точек */
}

.ant-carousel .slick-dots li.slick-active button {
  background: #1e90ff; /* Цвет активной точки */
}

.shadow {
  box-shadow: 0 0 10px rgba(0, 128, 255, 0.5);
}
